@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Brand Colors */
  --navy: #0B224D;
  --orange: #F55C15;
  --soft-grey: #B5BFC1;
  --light-grey: #E0DDDC;

  /* Semantic Color Roles */
  --primary: #F55C15;
  --secondary: #0B224D;
  --tertiary: #B5BFC1;
  --quaternary: #E0DDDC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-navy: var(--navy);
  --color-orange: var(--orange);
  --color-soft-grey: var(--soft-grey);
  --color-light-grey: var(--light-grey);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-quaternary: var(--quaternary);

  --font-sans: var(--font-grandview);
  --font-mono: var(--font-grandview);
}

body {
  background: var(--background);
  color: var(--foreground);
}